.head {
  background: rgb(17, 16, 16);
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.elements:nth-child(even) {
  background-color: #f9f9f9;
}
.elements:nth-child(odd) {
  background-color: #e6e6e6;
}
.item {
  font-weight: 500;
  padding: 8px;
  text-transform: capitalize;
  border-bottom: 1px solid #252424;
  border-right: 1px solid #252424;
  border-left: 1px solid #252424;
}
